################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hard-Hook-Reborn-CSNZ3/v16/RC/ipch/AutoPCH/dca2ac09960ce93d
/.vs
